WIDTH = 500
HEIGHT = 500
scoreRED = 0
scoreBLUE = 0

ball = Rect((150,390), (20, 20))
bat = Rect((200, 450), (100, 15))
bat2 = Rect((200, 20), (100, 15))
vx = 4
vy = 4


def draw():
    screen.clear()
    screen.draw.filled_rect(ball, "white")
    screen.draw.filled_rect(bat, "blue")
    screen.draw.filled_rect(bat2, "red")
    screen.draw.text("Player Red: " + str(scoreRED), color="white", topleft=(10,10))
    screen.draw.text("Player Blue: " + str(scoreBLUE), color="white", topleft=(385,10))

    #if game_over:
    # screen.draw.text("Final Score: " + str(score), topleft=(10,10), fontsize=60)

#1st Paddle
def update():
    global vx, vy, scoreRED, scoreBLUE, score
    ball.x += vx
    ball.y += vy
    if ball.right > WIDTH or ball.left < 0:
        vx = -vx
    if ball.colliderect(bat) or ball.top < 0:
        sounds.bop.play()
        vy = -vy
    if ball.top > 500:
        scoreRED += 1
        reset_game()
    if (keyboard.right):
        bat.x += 8
    elif(keyboard.left):
        bat.x -= 8
    while scoreRED >= 5:
        exit_game()
        print ("RED WINS!")
    while scoreBLUE >= 5:
        print ("BLUE WINS!")
        exit_game()



#2nd Paddle
    if ball.colliderect(bat2) or ball.bottom < 0:
        vy = -vy
        sounds.bop.play()
    if ball.top < 0:
        scoreBLUE += 1
        reset_game()
    if (keyboard.d):
        bat2.x += 8
    elif(keyboard.a):
        bat2.x -= 8

def reset_game():
    #reset ball
    ball.x = WIDTH / 2
    ball.y = HEIGHT / 2
    ballDirectionX = 1
    ballDirectionY = 1

#Sound
music.play('vibe')

   
#reset game
reset_game()
